@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid: 
		'header header header header header header'
		'p1score board board board board p2score'
		'p1score board board board board p2score'
		'p1score board board board board p2score'
		'p1score message message message message p2score'
		'footer footer footer footer footer footer';
	min-width: 100%;
	background-color: #F2EFEB;
}

#header {
	grid-area: header;
	width: 64%;
	margin: 15px 18%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px black solid;
/*	margin-bottom: 10px;*/
	background-color: #0468BF;
}

#header h1 {
	font-family: ccsignlanguage, sans-serif;
	font-weight: 400;
	font-style: italic;
	text-shadow: 2px 2px 0 #D92B04;
	color: #F2CB05;
}

#p1score {
	grid-area: p1score;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	height: 50%;
	margin: 0 10%;
	background-color: #F2EFEB;
}

#p1score h2 {
	margin-top: 10px;
	text-decoration: underline;
	font-family: uppercut-angle, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#p1score h3 {
	margin-top: 15px;
}

#board {
	grid-area: board;
	display: grid;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	height: 500px;
	border: 3px black solid;
}

.square {
	background-color: #0468BF;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.dot {
	height: 70px;
  	width: 70px;
  	background-color: white;
  	border-radius: 50%;
	border: 2px black solid;
  	display: inline-block;
}

.dot:hover {
	border: 2px red solid;
}

#p2score {
	grid-area: p2score;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	height: 50%;
	margin: 0 10%;
	background-color: #F2EFEB;
}

#p2score h2 {
	margin-top: 10px;
	text-decoration: underline;
	font-family: uppercut-angle, sans-serif;
	font-weight: 400;
	font-style: normal;
}
#p2score h3 {
	margin-top: 15px;
}

#message {
	grid-area: message;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin: 10px 0;
	background-color: #0468BF;
	border: 3px black solid;
	font-family: ccsignlanguage, sans-serif;
	font-weight: 400;
	font-style: italic;
	text-shadow: 2px 2px 0 black;
	color: #D92B04;
}

#footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-content: center;
}

#restart {
	background-color: #FA5B0F;
	border: 3px black solid;
	border-radius: 5px;
	width: 150px;
	height: 50px;
	font-family: uppercut-angle, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
	text-shadow: 2px 2px 0 #F2CB05;
}

#restart:hover {
	color: #F2CB05;
	text-shadow: 2px 2px 0 black;
}